
.DS_Store

.idea/misc.xml


chromium-user-data-dir
datasheets
data
search-results

*.log
test.pdf
.token
*.pickle

/*.csv


# DONT REMOVE THIS: (dont add binary files to source control)
parts-lib.pkl

*.xlsx

out/


*.pdf

*_downloads/
/*-datasheets
/data/nexar-specs
/benchmark
*.pkl

*.zip
