
pymupdf
pyppeteer

pyquery

tabula-py
#tabula-py[jpype]
# macos: install https://www.azul.com/downloads/?package=jdk#zulu

ocrmypdf

pdfminer.six>=20240706

img2table

pytest

timeout-decorator

xlrd>=2
openpyxl>=3

#pdfminer.six